.flex_row{
    display: flex;
    margin-bottom: 30px;
    line-height: 35px;
}
.flex_row input{
    flex: 5 ;
}
.flex_row label{
    flex: 1;
}
tr{
    border: solid;
}
td:not(:last-child){
    border-right: solid;
}
th:not(:last-child){
    border-right: solid;
}